<div class="row">
  <div class="col s12 m12">
    <%= form_for :unattended_question, url: challenge_index_path, id: 'question-card', remote: true do %>
      <div class="card-medium blue-grey darken-1 question-card">
        <div class="card-content white-text">
          <div class="question-result">
            <i class="large" ></i>
            <span class="points right large"></span>
          </div>
          <h3><span class="card-title">Question</span></h3>
          <h4><%= unattended_question.question %></h4>
          <%= hidden_field 'question_id', question, name: 'question_id', value: question %>
          <div class="card-action grey choices">
            <h5 class="white-text">Options</h5>
            <% unattended_question.choices.pluck(:id, :quiz_options).each do |id, option| %>
              <label>
                <input type="checkbox" value=<%= id %> name="options[]" id="coptions" class="filled-in white-text"/>
                <span class="white-text"><%= option %></span>
              </label>
              <br/>
            <% end %>
          </div>
        </div>
      </div>
      <br/>
      <%= submit_tag "submit", class: 'waves-effect waves-light btn-large red  waves-teal' %>
    <% end %>
  </div>
</div>
