<div class="container">
  <div class="row">
    <div class="col s6 m6 l8 offset-s1 z-depth-1" id="panell">
      <h5 id="title" class="center-align">Create Trivia card</h5>
      <%= form_for(Question.new, url: quiz_create_path, class: 'form-field', remote: true) do |f| %>
        <div class="form-fields">
          <div class="input-field">
            <%= render 'tag', form: f %>
          </div>

          <div class="input-field">
            <%= f.label "Question" %>
            <%= f.text_field :question, autofocus: true %>
          </div>

          <div class=" choice-form">
            <div class="choice-field" data-myval=1>
              <%= render 'choice', form: f %>
            </div>
          </div>

          <div class="add-new"><i class="material-icons">add_circle</i> &nbsp; Add new option</div>

          <div class="input-field">
            <%= f.fields_for(Answer.new, class: 'form-field') do |answer| %>
              <%= answer.label "answer" %>
              <%= answer.text_field :choice_id, autofocus: true %>
            <% end %>
          </div>
          <div class="actions">
            <%= f.submit 'Submit', class: 'waves-effect waves-light red btn' %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('select').material_select();
    addCheckbox('choice-form');
    $('.add-new').click(function () {
      var count = $('.choice-field').last().data('myval');
      $('.choice-field').last().attr('data-myval',count+1);
      var $newfield = $('.choice-field').last()
                                        .clone()
                                        .appendTo('.choice-form');
      $newfield.find('#question_choice_quiz_options')
               .attr('placeholder', 'Option '+(count+1));
      $newfield.find('#question_choice_quiz_options')
               .val('');

      addCheckbox($newfield)

    });

    function addCheckbox(newfield) {
      var inputs = $('choice-form');
      var id = inputs.length + 1;

      $('<input />', {type: 'checkbox', id: 'answer' + id, value: name}).appendTo(newfield);
      $('<label />', {'for': 'answer' + id, text: name}).appendTo(newfield);
    }
  });


</script>