<nav class="default" role="navigation">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center">Trivia</a>
    <a href="#" data-activates="nav-mobile" class=" show-on-medium-and-down button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to 'New Card', quiz_new_path%></li>
      <li><%= link_to 'Challenge', challenge_show_path %></li>
      <li><%= link_to 'Leaderboard', root_path %></li>
      <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
    </ul>
    <ul class="side-nav" id="nav-mobile">
      <li><%= link_to 'New Card', quiz_new_path %></li>
      <li><%= link_to 'Challenge', challenge_show_path %></li>
      <li><%= link_to 'Leaderboard', root_path %></li>
      <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</nav>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script>
  $('.button-collapse').sideNav({
        menuWidth: 150,
        edge: 'left',
        closeOnClick: true
      }
  );
</script>